.main {
  background-color: #d8d8d8;
  height: 100vh;
  padding: 24px;
}

/*Input start*/
.inputWrap {
  display: flex;
  height: 50px;
  margin-bottom: 24px;
  border-radius: 12px;
  box-shadow: 3px 3px 12px 1px rgba(0,0,0,25);
}

.input {
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #3A8AC0;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: 0;
}

.btn {
  width: 20%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

}

/*Input finish*/

/*Card start*/

.card_list {
  display: flex;
}

.select{
  margin-bottom: 24px;
  width: 100%;
  padding: 4px 8px;
}

.card{
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 12px;
  background-color: #3A8AC0;
  color: #fff;
  font-size: 14px;
  margin-left: 24px;
  box-shadow: 3px 3px 12px 1px rgba(0,0,0,25);
  text-decoration: none;
  display: block;
}

Link {
  color: white;
}

.card:first-child {
  margin-left: 0;
}

.btns__wrap {
  display: flex;
  justify-content: flex-end;
}

.action__btn {
  background-color: #fff;
  border: 1px solid black;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  font-size: 24px;
  font-weight: 500;
}

.card__description {
  margin-top: 4px;
  font-size: 16px;
}

.card__temperature{
  margin-top: 4px; 
  font-size: 40px;
  font-weight: 500;
}

.card__temperature::after {
  content: "°";
}

.card__information > div {
  margin-top: 4px;
}
/*Card finish*/

/*SingleCity start*/
.SingleCityWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TimeCards {
  margin-top: 24px;
  display: flex;
  overflow-x: auto;
  width: 100%;
  padding: 20px;

}

.TimeCard {
  border-radius: 12px;
  margin-left: 8px;
  background-color: #3A8AC0;
  box-shadow: 3px 3px 12px 1px rgba(0,0,0,0,25);
  color: #fff;
  text-align: center;
  padding: 10px;

  
}

.TimeDay {
  margin-bottom: 5px;

}

.btn__back {
  color: #fff;
  margin-bottom: 24px;
  border-radius: 12px;
  background-color: #3A8AC0;
  border: none;
  width: 120px;
  height: 50px;
  font-size: 20px;

}

.btn__back:hover {
  cursor: pointer;
}

/*SingleCity finish*/


